{% extends '::base.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}
{% form_theme form _self %}

{%- block form_label -%}{%- endblock form_label -%}

{% block form_widget_simple -%}
    {% if type is not defined or type not in ['file', 'hidden'] %}
        {%- set attr = attr|merge({class: (attr.class|default('') ~ ' form-control')|trim}) -%}
    {% endif %}
    {%- set type = type|default('text') -%}
    <input placeholder="{{ label | trans }}" type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
{%- endblock form_widget_simple %}

{% block stylesheets %}
    {{ parent() }}
    {% include '::common_views/login_and_register_styles.html.twig' %}
{% endblock %}

{% block body %}
    <div class="container">
        {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'form-signin'}}) }}
        <h2 class="form-signin-heading">Sign Up</h2>
            {{ form_widget(form) }}
            <button class="btn btn-lg btn-primary btn-block" type="submit">{{ 'registration.submit'|trans }}</button>
        <div class="create_new_account">
            Have an account already? Please <a href="{{ path('fos_user_security_login') }}">Sign in</a>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}